<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_path%>">Login System</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="<%=root_path%>">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
            <p class="navbar-text navbar-right">Signed in as <%= link_to @current_user.username, @current_user, :class => 'navbar-link' %>  <%= link_to "Log out", logout_path, method: "delete", :class => 'navbar-link' %></p>

        <% else %>
            <li><a href="<%=login_path%>">Login</a></li>
        <% end %>
        <% if is_admin? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Users', admin_users_path %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>